tmx/.config/sops/**
**/.direnv/
tmx/.local/share
tmx/.local/state
tmx/.config/configstore
tmx/.config/gcloud
tmx/.config/firebase
tmx/.config/direnv
tmx/.config/simple-update-notifier

# Managed by Nix/home-manager
tmx/.config/aerospace/
tmx/.config/aerospace.bak/
tmx/.config/git/config
tmx/.config/tmux/tmux.conf
tmx/.gitconfig
tmx/.config/alacritty/